/* ===========================
   Global Container
=========================== */

.container {
    width: min(var(--container-width), 90%);
    margin: 0 auto;
}

/* ===========================
   Section Spacing
=========================== */

.section {
    padding: var(--section-padding) 0;
}

/* ===========================
   Section Titles
=========================== */

.section-tag{

    color: var(--accent-color);

    font-size: .85rem;

    letter-spacing: .12em;

    font-weight: 700;

    text-transform: uppercase;

    margin-bottom: 16px;

}

.section-title{

    font-size: clamp(2.2rem,4vw,3.2rem);

    font-weight: 800;

    max-width: 700px;

    margin-bottom: 20px;

    line-height: 1.2;

}