:root {

  /* Colors */

  --bg-color: #09090B;
  --surface-color: #111113;

  --primary-color: #FAFAFA;
  --primary-hover: #E4E4E7;

  --accent-color: #3B82F6;

  --text-color: #FAFAFA;
  --text-secondary: #D4D4D8;
  --text-muted: #A1A1AA;

  /* Borders */

  --border-color: #27272A;

  /* Border Radius */

  --radius-sm: 10px;
  --radius-md: 14px;
  --radius-lg: 20px;

  /* Shadows */

  --shadow:
    0 10px 30px rgba(0, 0, 0, .35);

  /* Layout */

  --navbar-height: 80px;

  --container-width: 1180px;

  --section-padding: 120px;

  /* Animation */

  --transition: .25s ease;

}