/* ===========================
   Navbar
=========================== */

.navbar {

    position: fixed;

    top: 0;
    left: 0;

    width: 100%;

    z-index: 1000;

    background: rgba(9, 9, 11, 0.75);

    backdrop-filter: blur(16px);

    border-bottom: 1px solid var(--border-color);

}

/* ===========================
   Container
=========================== */

.navbar .container {

    height: var(--navbar-height);

    display: flex;

    justify-content: space-between;

    align-items: center;

}

/* ===========================
   Logo
=========================== */

.logo {

    font-size: 1.7rem;

    font-weight: 800;

    letter-spacing: -1px;

    color: var(--text-color);

    cursor: pointer;

}

.logo span {

    color: var(--accent-color);

}

/* ===========================
   Navigation
=========================== */

.nav-links {

    display: flex;

    align-items: center;

    gap: 34px;

    list-style: none;

}

.nav-links a {

    text-decoration: none;

    color: var(--text-secondary);

    font-size: .95rem;

    font-weight: 500;

    transition: var(--transition);

}

.nav-links a:hover {

    color: var(--text-color);

}

/* ===========================
   Resume Button
=========================== */

.resume-btn {

    display: inline-flex;

    align-items: center;

    justify-content: center;

    padding: 12px 22px;

    background: white;

    color: #09090B;

    border: 1px solid white;

    border-radius: 12px;

    font-size: .95rem;

    font-weight: 600;

    text-decoration: none;

    transition: var(--transition);

}

.resume-btn:hover {

    background: #E4E4E7;

    transform: translateY(-2px);

}

/* ===========================
   Mobile
=========================== */

@media (max-width: 900px) {

    .nav-links {

        display: none;

    }

}